*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 1000vh;
    background-image: url(blackbg.jpg);
    background-size: cover;
    background-position: center;
}
.title{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
}
.tsinelas{
    position: relative;
    margin-left: 25%;
    top: 2%;
}
.tsinelasdesc{
    position: relative;
    margin-left: 18%;
    top: 1%;
}
.oldcasa1{
    position: relative;
    margin-left: 25%;
    top: 2%;
}
.oldcasadesc1{
    position: relative;
    margin-left: 18%;
    top: 1%;
}
.oldcasadesc2{
    position: relative;
    margin-left: 18%;
    top: -1%;
}
.gapantown{
    position: relative;
    margin-left: 25%;
    top: 0%;
}
.lumanggapan{
    position: relative;
    margin-left: 18%;
    top: -1%;
}
.lumanggapan2{
    position: relative;
    margin-left: 18%;
    top: -3.5%;
}
.nightmarketpic{
    position: relative;
    margin-left: 25%;
    top: -3%;
}
.plaza{
    position: relative;
    margin-left: 18%;
    top: -4%;
}
.ategirl{
    position: relative;
    margin-left: 25%;
    top: -4%;
}
.nightmarket{
    position: relative;
    margin-left: 18%;
    top: -5%;
}
.group{
    position: relative;
    margin-left: 18%;
    top: -5%;
}
.decor{
    position: relative;
    margin-left: -50%;
    top: -25%;
}
.decor2{
    position: relative;
    margin-left: 50%;
    top: -60%;
}
.decor3{
    position: relative;
    margin-left: -100%;
    top: -140%;
}